Makefile
autom4te.cache/
config.h
config.log
config.status
.dirstamp
Makefile.in
aclocal.m4
config.h.in
configure
examples/AIA/Exm_3_3/.deps/
examples/AIA/Exm_3_3/Exm_3_3
examples/AIA/Exm_3_3/Makefile
examples/AIA/Exm_3_4/.deps/
examples/AIA/Exm_3_4/Exm_3_4
examples/AIA/Exm_3_4/Makefile
examples/AIA/Exr_11_33/.deps/
examples/AIA/Exr_11_33/Exr_11_33
examples/AIA/Exr_11_33/Makefile
examples/AIA/Exr_11_35/.deps/
examples/AIA/Exr_11_35/Exr_11_35
examples/AIA/Exr_11_35/Makefile
examples/AIA/Makefile
examples/CXSC/.deps/
examples/CXSC/Makefile
examples/CXSC/example
examples/CXSC/lexample
examples/GOpt/Levy/.deps/
examples/GOpt/Levy/Levy
examples/GOpt/Levy/Makefile
examples/GOpt/Makefile
examples/GOpt/PhyloPOT/.deps/
examples/GOpt/PhyloPOT/Makefile
examples/GOpt/PhyloPOT/PhyloPOT
examples/GOpt/Rosenbrock/.deps/
examples/GOpt/Rosenbrock/Makefile
examples/GOpt/Rosenbrock/Rosenbrock
examples/Makefile
examples/MappedSP/Example1D/.deps/
examples/MappedSP/Example1D/Ex1D
examples/MappedSP/Example1D/Makefile
examples/MappedSP/Example2D/.deps/
examples/MappedSP/Example2D/Ex2D
examples/MappedSP/Example2D/Makefile
examples/MappedSP/ExampleColour2D/.deps/
examples/MappedSP/ExampleColour2D/.dirstamp
examples/MappedSP/ExampleColour2D/ExColour2D
examples/MappedSP/ExampleColour2D/Makefile
examples/MappedSP/ExampleColour3D/.deps/
examples/MappedSP/ExampleColour3D/ExColour3D
examples/MappedSP/ExampleColour3D/Makefile
examples/MappedSP/ExampleOsc1D/.deps/
examples/MappedSP/ExampleOsc1D/ExOsc1D
examples/MappedSP/ExampleOsc1D/Makefile
examples/MappedSP/ExampleSine/.deps/
examples/MappedSP/ExampleSine/ExSine
examples/MappedSP/ExampleSine/Makefile
examples/MappedSP/ExampleVector3D/.deps/
examples/MappedSP/ExampleVector3D/ExVec3D
examples/MappedSP/ExampleVector3D/Makefile
examples/MappedSP/Levy/$(TARGETS)/
examples/MappedSP/Levy/.deps/
examples/MappedSP/Levy/LevyDensity2D
examples/MappedSP/Levy/LevyDensity2D_PaperExample
examples/MappedSP/Levy/Makefile
examples/MappedSP/Makefile
examples/MappedSP/Rosen/$(TARGETS)/
examples/MappedSP/Rosen/.deps/
examples/MappedSP/Rosen/Makefile
examples/MappedSP/Rosen/Rosen
examples/MappedSP/Rosen/RosenMultipleD
examples/MappedSP/Rosen/RosenMultipleD_Width
examples/MappedSP/SpatialObjectRepresentation/$(TARGETS)/
examples/MappedSP/SpatialObjectRepresentation/.deps/
examples/MappedSP/SpatialObjectRepresentation/Makefile
examples/MappedSP/SpatialObjectRepresentation/TestSOR
examples/MappedTargets/.deps/
examples/MappedTargets/.dirstamp
examples/MappedTargets/Makefile
examples/MappedTargets/TestGaussianFobj
examples/MappedTargets/TestLevyDensity2DFobj
examples/MappedTargets/TestOscFobj
examples/MappedTargets/TestRosenDensityFobj
examples/MappedTargets/TestRosenFobj
examples/MappedTargets/TestSphereFobj
examples/MappedTargets/TestUniformFobj
examples/MixtureTargets/.deps/
examples/MixtureTargets/.dirstamp
examples/MixtureTargets/Makefile
examples/MixtureTargets/testMixtureMVN
examples/MooreRejSam/BinomialPartition/.deps/
examples/MooreRejSam/BinomialPartition/BinomialPartition
examples/MooreRejSam/BinomialPartition/Makefile
examples/MooreRejSam/CFN3/.deps/
examples/MooreRejSam/CFN3/CFN3
examples/MooreRejSam/CFN3/Makefile
examples/MooreRejSam/IsIt1or2Coins/.deps/
examples/MooreRejSam/IsIt1or2Coins/IsIt1or2Coins
examples/MooreRejSam/IsIt1or2Coins/Makefile
examples/MooreRejSam/Levy/.deps/
examples/MooreRejSam/Levy/Levy
examples/MooreRejSam/Levy/Makefile
examples/MooreRejSam/Makefile
examples/MooreRejSam/PhyloPOT/.deps/
examples/MooreRejSam/PhyloPOT/Makefile
examples/MooreRejSam/PhyloPOT/PhyloPOT
examples/MooreRejSam/Rosenbrock/.deps/
examples/MooreRejSam/Rosenbrock/MRS_Rosenbrock.samples
examples/MooreRejSam/Rosenbrock/MRS_RosenbrockRangeDomainSet.txt
examples/MooreRejSam/Rosenbrock/Makefile
examples/MooreRejSam/Rosenbrock/Rosenbrock
examples/MooreRejSam/Shiryaev/.deps/
examples/MooreRejSam/Shiryaev/Makefile
examples/MooreRejSam/Shiryaev/Shiryaev
examples/MooreRejSam/WitchesHat/.deps/
examples/MooreRejSam/WitchesHat/Makefile
examples/MooreRejSam/WitchesHat/WitchesHat
examples/StatsSubPav/Averaging/.deps/
examples/StatsSubPav/Averaging/Averaging
examples/StatsSubPav/Averaging/Makefile
examples/StatsSubPav/BivGaussian/.deps/
examples/StatsSubPav/BivGaussian/BivGaussian
examples/StatsSubPav/BivGaussian/Makefile
examples/StatsSubPav/COPERRandAIC/.deps/
examples/StatsSubPav/COPERRandAIC/COPERRandAIC
examples/StatsSubPav/COPERRandAIC/Makefile
examples/StatsSubPav/CatalanCoeff/.deps/
examples/StatsSubPav/CatalanCoeff/CatalanCoeff
examples/StatsSubPav/CatalanCoeff/Makefile
examples/StatsSubPav/HistReport/.deps/
examples/StatsSubPav/HistReport/HistReport
examples/StatsSubPav/HistReport/Makefile
examples/StatsSubPav/Levy/.deps/
examples/StatsSubPav/Levy/Levy
examples/StatsSubPav/Levy/Makefile
examples/StatsSubPav/MCMC/.deps/
examples/StatsSubPav/MCMC/MCMCFunctionSimGaussian
examples/StatsSubPav/MCMC/MCMCGaussian
examples/StatsSubPav/MCMC/MCMCnewtest
examples/StatsSubPav/MCMC/MCMCuniform
examples/StatsSubPav/MCMC/Makefile
examples/StatsSubPav/MCMCHistTimingAndErrors/.deps/
examples/StatsSubPav/MCMCHistTimingAndErrors/Makefile
examples/StatsSubPav/MCMCHistTimingAndErrors/testHistDen
examples/StatsSubPav/Makefile
examples/StatsSubPav/MultiManager/.deps/
examples/StatsSubPav/MultiManager/Makefile
examples/StatsSubPav/MultiManager/MultiManager
examples/StatsSubPav/PointClouds/.deps/
examples/StatsSubPav/PointClouds/Makefile
examples/StatsSubPav/PointClouds/OnePointCloud
examples/StatsSubPav/PointClouds/PointClouds
examples/StatsSubPav/CVOptMap/.deps/
examples/StatsSubPav/CVOptMap/CVOptMAP
examples/StatsSubPav/CVOptMap/Makefile
examples/StatsSubPav/Uniform/.deps/
examples/StatsSubPav/Uniform/Makefile
examples/StatsSubPav/Uniform/Uniform
examples/newSubPav/Exm_3_3/.deps/
examples/newSubPav/Exm_3_3/Exm_3_3
examples/newSubPav/Exm_3_3/Makefile
examples/newSubPav/Exm_3_4/.deps/
examples/newSubPav/Exm_3_4/Exm_3_4
examples/newSubPav/Exm_3_4/Makefile
examples/newSubPav/Exr_11_33/.deps/
examples/newSubPav/Exr_11_33/Exr_11_33
examples/newSubPav/Exr_11_33/Makefile
examples/newSubPav/Exr_11_35/.deps/
examples/newSubPav/Exr_11_35/Exr_11_35
examples/newSubPav/Exr_11_35/Makefile
examples/newSubPav/Makefile
examples/targets/.deps/
examples/targets/.dirstamp
include/
src/.deps/
src/Makefile
stamp-h1
tests/Makefile
tests/TestingFunctionEstimator/$(TARGETS)/
tests/TestingFunctionEstimator/.deps/
tests/TestingFunctionEstimator/Makefile
tests/TestingFunctionEstimator/TestFunEst
tests/TestingFunctionEstimator/TestFunEstPaperExample
tests/TestingIrregularShapes/.deps/
tests/TestingIrregularShapes/Makefile
tests/TestingIrregularShapes/TestShape
tests/TestingMappedSPs/.deps/
tests/TestingMappedSPs/Makefile
tests/TestingMappedSPs/TestMappedSP
tests/TestingNonMapped/.deps/
tests/TestingNonMapped/.dirstamp
tests/TestingNonMapped/Makefile
tests/TestingNonMapped/TestHist/.deps/
tests/TestingNonMapped/TestHist/Makefile
tests/TestingNonMapped/TestHist/TestHists
tests/TestingNonMapped/TestHistColl/.deps/
tests/TestingNonMapped/TestHistColl/Makefile
tests/TestingNonMapped/TestHistColl/TestCollHists
tests/TestingNonMapped/TestHistInput/.deps/
tests/TestingNonMapped/TestHistInput/Makefile
tests/TestingNonMapped/TestHistInput/TestInput
tests/TestingNonMapped/TestSPColl/.deps/
tests/TestingNonMapped/TestSPColl/Makefile
tests/TestingNonMapped/TestSPColl/TestCollNodes
tests/TestingNonMapped/TestSPS/.deps/
tests/TestingNonMapped/TestSPS/Makefile
tests/TestingNonMapped/TestSPS/TestSPS
tests/TestingNonMapped/TestSPnodes/.deps/
tests/TestingNonMapped/TestSPnodes/Makefile
tests/TestingNonMapped/TestSPnodes/TestSP
tests/TestingPCF/.deps/
tests/TestingPCF/Makefile
tests/TestingPCF/TestPCF
tests/TestingRealMapped/.deps/
tests/TestingRealMapped/Makefile
tests/TestingRealMapped/TestRealMapped
